{%load static%}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="footer-logo" style="width: 200px;">
              <img src="{% static 'images/logo/umk.png' %}" style="width: 150px;">
              <img src="{% static 'images/logo/aibig.png' %}" style="width: 150px;">
              <img src="{% static 'images/logo/ypasm.png' %}" style="width: 150px;">
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <h4>Contact</h4>
            <div>
              <i class="fas fa-map-marker-alt" style="font-size: 24px; margin-right: 10px;"></i>
              <span>Institute For Artificial Intelligence & Big Data,</span>
              <br>
              <span>Universiti Malaysia Kelantan, City Campus, Pengkalan Chepa,</span>
              <br>
              <span>16100 Kota Bharu, Kelantan</span>
            </div>
            <div style="margin-top: 10px;">
              <i class="fas fa-phone" style="font-size: 24px; margin-right: 10px;"></i>
              <span>(+609) 771 7177</span>
            </div>
            <div style="margin-top: 10px;">
              <i class="fas fa-envelope" style="font-size: 24px; margin-right: 10px;"></i>
              <span>aibig@umk.edu.my</span>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4" style="margin-top: 10px;">
            <h4>Follow Us</h4>
            <!-- Replace these URLs with your actual social media profile URLs -->
            <a href="https://www.instagram.com/aibigumk/?hl=en" target="_blank" style="margin-right: 10px;"><i
                class="fab fa-instagram" style="font-size: 24px;"></i></a>
            <a href="https://www.facebook.com/umk.aibig/" target="_blank" style="margin-right: 10px;"><i
                class="fab fa-facebook" style="font-size: 24px;"></i></a>
            <a href="https://www.linkedin.com/company/aibig-umk" target="_blank"><i class="fab fa-linkedin-in"
                style="font-size: 24px;"></i></a>
          </div>
        </div>


      </div>
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>AIBIG</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
  </footer>