{%load static%}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top bg-dark">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0">
            {% comment %} <a href="{% url 'mainpr:index'%}">
                <img src="{% static 'images/logo/logo-pb.png' %}" alt="Home" class="img-fluid" /> {% endcomment %}
                <a href="{% url 'mainpr:index'%}">
                    <img class="logo1" src="{% static 'images/logo/pbxaibig.png' %}" alt="Logo 1"
                        class="img-fluid logo-img" />
                    <img class="logo2" src="{% static 'images/logo/logoypasm.png' %}" alt="Logo 2"
                        class="img-fluid logo-img" />
                </a>
        </h1>

        <!-- DATASETS NAVIGATION BAR -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href="{% url 'mainpr:index'%}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'mainpr:index' %}#about">About</a></li>

                <li class="dropdown">
                    <a href="#portfolio active"><span>Dataset</span> <i class="bi bi-chevron-down"></i></a>

                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>Biodiversity</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li class="dropdown"><a href="#"><span>Population</span><i
                                            class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_population:penguinpopu'%}">Penguin Population</a></li>
                                        <li class="dropdown">
                                            <a href="#"><span>Palmer Penguin</span> <i
                                                    class="bi bi-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="{% url 'pr_population:palmerIter'%}">Iter</a></li>
                                                <li><a href="{% url 'pr_population:palmerSize'%}">Size</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'pr_population:mfungi'%}">Marine Fungi</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Animal</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_animal:coral'%}">Coral</a></li>
                                        <li class="dropdown">
                                            <a href="#"><span>Polar Bear</span> <i class="bi bi-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="{% url 'pr_animal:blood'%}">Bear Blood</a></li>
                                                <li><a href="{% url 'pr_animal:capSeq'%}">Bear Capture Sequence</a></li>
                                                <li><a href="{% url 'pr_animal:abdTemp'%}">Bear Abdominal
                                                        Temperature</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#"><span>Penguin</span> <i class="bi bi-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="{% url 'pr_animal:gentoo'%}">Gentoo</a></li>
                                                <li><a href="{% url 'pr_animal:adelie'%}">Adelie</a></li>
                                                <li><a href="{% url 'pr_animal:chinstrap'%}">Chinstrap</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'pr_animal:bird'%}">Giant Petrel Bird</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Plant</span><i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_plant:algae'%}">Algae</a></li>
                                        <li><a href="{% url 'pr_plant:microbial'%}">Microbial Symbiont</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#"><span>Ecosystem</span><i class="bi bi-chevron-bar-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_ecosystem:freshwater'%}">Freshwater</a></li>
                                        <li><a href="{% url 'pr_ecosystem:marine'%}">Marine</a></li>
                                        <li><a href="{% url 'pr_ecosystem:terrestrial'%}">Terrestrial</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Climatology</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li class="dropdown">
                                    <a href="#"><span>Arctic</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_arctic:climate'%}">Northern Cities Climate</a></li>
                                        <li><a href="{% url 'pr_arctic:iceextent'%}">Sea Ice Extent</a></li>
                                        <li><a href="{% url 'pr_arctic:masking'%}">Sea Ice Image Masking </a></li>
                                        <li><a href="{% url 'pr_arctic:streamgages'%}">VSGS Alaska Streamgages</a></li>
                                        <li><a href="{% url 'pr_arctic:simpsonlagoon'%}">Simpson Lagoon</a></li>
                                        <li><a href="{% url 'pr_arctic:searoutes'%}">Arctic Sea Routes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Antarctica</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_antartic:antarticmass'%}">Antarctica Mass</a></li>
                                        <li><a href="{% url 'pr_antartic:AntarcticaRoutes'%}">Sea Ice Extent</a></li>
                                        <li><a href="{% url 'pr_antartic:antartic2'%}">Antarctica Temperature</a></li>
                                        <li><a href="{% url 'pr_antartic:hotpoints'%}">Antarctic Hotpoints(NASA)</a>
                                        </li>
                                        <li><a href="{% url 'pr_antartic:iceradar'%}">Ice Radar</a></li>
                                        <li><a href="{% url 'pr_antartic:snow'%}">Snow Accumulation</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><span>Arctic & Antarctica</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_aa:seaice'%}">Sea Ice Graph</a></li>
                                        <li><a href="{% url 'pr_aa:sulfurDioxide'%}">Sulphur Detection from Melting Ice
                                                Cores</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Diseases</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li class="dropdown">
                                    <a href="#"><span>Influenza</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_disease:bELISA'%}">bELISA</a></li>
                                        <li><a href="{% url 'pr_disease:hi'%}">HI</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'pr_disease:crypto_giardia'%}">Crypto & Giardia</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#"><span>Molecular Biology</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li class="dropdown">
                                    <a href="#"><span>Organism</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="{% url 'pr_dna_rna:plankton'%}">Plankton_Tara-Ocean</a></li>
                                        <li><a href="{% url 'pr_dna_rna:phytoplankton'%}">Pytoplankton</a></li>
                                        <li><a href="{% url 'pr_dna_rna:iceKrill'%}">Ice Krill</a></li>
                                        <li><a href="{% url 'pr_dna_rna:bacteria'%}">Bacteria</a></li>
                                        <li class="dropdown">
                                            <a href="#"><span>Fungi</span> <i class="bi bi-chevron-right"></i></a>
                                            <ul>
                                                <li><a href="{% url 'pr_dna_rna:Cdata'%}">14C and 13C Data</a></li>
                                                <li><a href="{% url 'pr_dna_rna:nucleotide'%}">Nucleotide Reads</a></li>
                                                <li><a href="{% url 'pr_dna_rna:edaphic'%}">Edaphic Factors</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="{% url 'mainpr:ml'%}">Machine Learning</a></li>
                <li><a class="nav-link scrollto" href="{% url 'mainpr:index' %}#team">Team</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="{% url 'mainpr:index' %}#contact" class="get-started-btn scrollto">Contact Us</a>
    </div>
</header>
<!-- End Header -->