{%load static%}
<!-- New team profile -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Check our Team</p>
      </div>
      <div class="teamwrapper">

        <div class="our_team">
          <div class="team_member">
            <a href="{% url 'mainpr:drakmal'%}">
              <div class="member_img">

                <img src="{% static 'images/team/dr.akmal.jpg' %}" alt="our_team">
                <!-- <div class="social_media">
                  <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                  <div class="twitter item"><i class="fab fa-twitter"></i></div>
                  <div class="instagram item"><i class="fab fa-instagram"></i></div>
                </div> -->
              </div>
              <h3>DR. MUHAMMAD AKMAL BIN REMLI</h3>

            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:drmae'%}">
              <div class="member_img">
                <img src="{% static 'images/team/Dr.Marieanne.jpg' %}" alt="our_team">
                <!-- <div class="social_media">
                  <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                  <div class="twitter item"><i class="fab fa-twitter"></i></div>
                  <div class="instagram item"><i class="fab fa-instagram"></i></div>
                </div> -->
              </div>
              <h3>TS. DR. MARIEANNE CHRISTIE LEONG</h3>

            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:dralfonso'%}">
            <div class="member_img">
              <img src="{% static 'images/team/dr.alfonso.jpg' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>ASSOCIATE PROFESSOR DR. ALFONSO GONZÁLEZ BRIONES</h3>
            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:profsaberi'%}">
            <div class="member_img">
              <img src="{% static 'images/team/Prof Saberi.jpg' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>Professor Dr. Mohd Saberi Mohamad</h3>
            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:drismail'%}">
            <div class="member_img">
              <img src="{% static 'images/team/Prof.Ismail.jpg' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>Associate Prof.Ts.Dr.Ismail Bin Ahmedy</h3>
            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:drchin'%}">
            <div class="member_img">
              <img src="{% static 'images/team/Dr Chin.jpg' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>DR CHIN SIOK-FONG</h3>
            </a>
          </div>
          <div class="team_member">
            <a href="{% url 'mainpr:drsarahani'%}">
            <div class="member_img">
              <img src="{% static 'images/team/drsarahani.png' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>DR SARAHANI BINTI HARUN</h3>
            </a>
          </div>

          <div class="team_member">
            <a href="{% url 'mainpr:haznirah'%}">
            <div class="member_img">
              <img src="{% static 'images/team/haznirah.jpg' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>NUR HAZNIRAH BINTI HAZMAN</h3>
            </a>
          </div>

          <div class="team_member">
            <a href="{% url 'mainpr:azira'%}">
            <div class="member_img">
              <img src="{% static 'images/team/rohaiza.png' %}" alt="our_team">
              <!-- <div class="social_media">
                <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter item"><i class="fab fa-twitter"></i></div>
                <div class="instagram item"><i class="fab fa-instagram"></i></div>
              </div> -->
            </div>
            <h3>ROHAIZAAZIRA BINTI MOHD ZAWAWI</h3>
            </a>
          </div>
        </div>
      </div>




    </div>
  </section>